.peoples-list {
    display: flex;
    justify-content: center;
    color: black;
    border:none;
    padding-left: 0px;
    
}

.peoples-list > ol {
    padding-left: 0px;
}



  .create-routine-button {

        background-color: black;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:2px solid rgba(0, 0, 0, 0.856);
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:16px 31px;
        text-decoration:none;
        /* text-shadow:0px 1px 0px #2f6627; */
    }
 .button-div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
 }

